/* $back-color: white;
$gray-dark: #3E3E3E;
$gray: #0E0000;
$gray-light: #8A8B8F;
$gray-light2: #CBCBCD;
$gray-light3: #F5F5F5;
$purple-dark: #662F94;
$purple: #902CB8;
$purple-light: #B995D8;
$purple-light2: #F6EEF9;
$purple-light3: #FDF3FF;
$red-alert: #E2453B;
$iris: #5D5FEF;
$iris-light: #E8E8FD;
$pink-level0: #F7EEF9;
$pink-level1: #FFC6E8;
$pink-level2: #CB0006;

$health-questionnaire-color1: $purple-dark;
$health-questionnaire-color2: $iris; */
